:root {
  --gradient: 
  linear-gradient(
    -45deg,
    #03045E,
    #023E8A,
    #0077B6,
    #0096C7,
    #00B4D8
  )
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "PT Sans", sans-serif;
}

main {
  width: 80vw;
  max-width: 1600px;
  margin: 0 auto;
}

/* Front Page Styles */

.front-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.front-page nav div {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 10px;
  background-color: #023E8A;
}

nav div a {
  text-decoration: none;
  color: white;
  transform: rotate(90deg);
}

nav div a::after {
  content: '';
  margin: 0 auto;
  width: 0px;
  height: 2px;
  display: block;
  background: white;
  transition: 300ms;
}

nav div a:hover::after {
  width: 100%;
}

.intro-text span {
  display: block;
  color: white;
}
.intro-text span:nth-child(1) {
  font-size: 1.1rem;
}
.intro-text span:nth-child(2) {
  font-size: 1.1rem;
}
.intro-text span:nth-child(3) {
  font-weight: bold;
  font-size: 4rem;
}
.intro-text span:nth-child(4) {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.home {
  order: -1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 30px;
  background: var(--gradient);
  background-size: 400%;
  animation: gradient-animation 25s ease infinite;
  }
.home img {
  width: 60px;
  display: block;
}
.icons {
  color: white;
  text-align: center;
}
#github, #mail, #linkedin {
  transition: color 350ms;
}
#github:hover, #mail:hover, #linkedin:hover {
  color: black;
}

@keyframes gradient-animation {
	0% {
		background-position: left;
	}
	50% {
		background-position: right;
	}
	100% {
		background-position: left;
	}
}