:root {
 --primaryColour: #037adc;
 --secondaryColour: #005aa4;
 --tertiaryColour: #0562ad;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "PT Sans", sans-serif;
  color: white;
  scroll-behavior: smooth;
  font-size: 14pt;
  background-color: var(--primaryColour);
}

main {
  width: 80vw;
  max-width: 1200px;
  margin: 2rem auto;
}

h2 {
  font-size: 3rem;
}

/* Front Page Styles */

.front-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

nav {
  position: fixed;
  top: 0px;
  right: 0;
  left: 0;
  display: flex;
  z-index: 1000;
  justify-content: space-between;
  background-color: var(--secondaryColour);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.623);
  animation: navbar-transition 3s ease 1;
}

@keyframes navbar-transition {
  0% {
    top: -600px;
    right: 0;
    left: 0;
  }
  100% {
    top: 0px;
    right: 0;
    left: 0;
  }
}

nav div {
  display: flex;
  column-gap: 80px;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

nav div a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

nav div a::after {
  content: '';
  margin: 0 auto;
  width: 0px;
  height: 2px;
  display: block;
  background: white;
  transition: 300ms;
}

nav div a:hover::after {
  width: 100%;
}
nav img {
  width: 70px;
  margin: 10px 0px;
  display: block;
}

.intro-text span {
  display: block;
  color: white;
}
.intro-text span:nth-child(1) {
  font-size: 1rem;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.666);
}
.intro-text span:nth-child(2) {
  font-size: 1.5rem;
}
.intro-text span:nth-child(3) {
  font-weight: bold;
  font-size: 4rem;
}
.intro-text span:nth-child(4) {
  margin-top: 1rem;
  font-size: 1.4rem;
}

.home {
  order: -1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 30px;

  }

.icons {
  margin-top: 25px;
  color: white;
}
a {
  color: unset;
}
#github, #mail, #linkedin {
  transition: color 350ms;
}
#github:hover, #mail:hover, #linkedin:hover {
  color: #023E8A;
}

/* Sections */

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: justify;
  padding: 250px 30px;
}

/* About Me */

.about-me {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  opacity: 0;
  transition: 1500ms;
}

.about-me img {
  width: 400px;
}


/* Projects */

.projects {
  transition: 1500ms;
}

.project {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 40px 0px;
  opacity: 0;
  transition: 1000ms;
}

.project img {
  width: 50%;
}

.project-description {
  position: relative;
  width: 800px;
  right: 80px;
}

.project-description h3 {
  margin: 30px 0;
  font-size: 1.8rem;
}

.project-description p {
  background-color: var(--tertiaryColour);
  padding: 20px 30px 20px 70px;
  border-radius: 5px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.332);
}

.project-tools {
  display: flex;
  gap: 15px;
  justify-content: right;
  list-style-type: none;
  padding: 20px 0px
}

.project:nth-child(odd) h3{
  text-align: right;
}

.project:nth-child(odd){
  transform: translateX(300px);
}
.project:nth-child(even){
  flex-direction: row-reverse;
  transform: translateX(-300px);
}

.project:nth-child(even) .project-tools {
  justify-content: left;
}

.project:nth-child(even) .project-description {
  left: 80px;
}


/* Contact Section */

.contact {
  opacity: 0;
  transition: 1500ms;
}

.contact span {
  display: block;
  color: rgb(205, 205, 205);
  margin: 0px 0px 20px 0px;
  font-size: 1rem;
}

form {
  background-color: var(--secondaryColour);
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.341);
  padding: 30px 35px 35px 35px;
}
.contact form{
  width: 80%;
  margin: 0 auto;
  font-size: 1.2rem;
}

.contact label, .contact input, .contact textarea {
  display: block;
}

.contact input, .contact textarea  {
  width: 100%;
  margin: 5px 0px 10px 0px;
  padding: 12px;
  border: none;
  border-radius: 5px;
}

.contact input::placeholder, .contact textarea::placeholder {
  font-family: "PT Sans", sans-serif;
  font-size: 1rem;
}

.form-content button {
  width: 100%;
  cursor: pointer;
  padding: 10px 0px;
  margin-top: 15px;
  font-family: "PT Sans", sans-serif;
  font-size: 1rem;
  color: white;
  background-color: var(--tertiaryColour);
  border: none;
  border-radius: 5px;
  transition: box-shadow 0.5s ease;
}

.form-content button:hover {
  box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.472);
}

/* Footer Styles */
footer {
  position: relative;
  text-align: center;
  bottom: 7px;
  left: 0;
  right: 0;
  bottom: 10px;
}


/* JS Styles */

.show {
  opacity: 1;
  transform: translateX(0) !important;
}
